#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Welcome to logisima-play-neo4j test application</h1>

#{menu/}

<h2>Profile of ${user.login}</h2>
<ul>
    <li><strong>Login : </strong> ${user.login}</li>
    <li><strong>Firstanme : </strong> ${user.firstname}</li>
    <li><strong>Lastname : </strong> ${user.lastname}</li>
    <li><strong>Email : </strong> ${user.email}</li>
    <li><strong>Age : </strong> ${user.age}</li>
    <li><strong>Birthdate: </strong> ${user.birthday?.format('dd/MM/yyyy')}</li>
    <li><strong>Is active : </strong> ${user.isActive}</li>
    <li><strong>Dev. score : </strong> ${user.devScore}</li>
    <li><strong>Avatar : </strong> <img src="@{application.userAvatar(user.key)}" /></li>
    
    #{if user.friends.size() > 0}
    <li>
        <strong>Friends :</strong>
        #{list items:user.friends, as:'friend'}
            <a href="@Application.user(friend.key)">${friend.firstname} ${friend.lastname}</a>&nbsp;
        #{/list}
    </li>
    #{/if}
    #{if user.famillies.size() > 0}
    <li>
        <strong>Famillies :</strong>
        #{list items:user.famillies, as:'familly'}
            <a href="@Application.user(familly.key)">${familly.firstname} ${familly.lastname}</a>&nbsp;
        #{/list}
    </li>
    #{/if}
    #{if user.colleages.size() > 0}
    <li>
        <strong>Colleages :</strong>
        #{list items:user.colleages, as:'colleage'}
            <a href="@Application.user(colleage.key)">${colleage.firstname} ${colleage.lastname}</a>&nbsp;
        #{/list}
    </li>
    #{/if}
    #{if user.classmates.size() > 0}
    <li>
        <strong>Classmates :</strong>
        #{list items:user.classmates, as:'classmate'}
            <a href="@Application.user(classmate.key)">${classmate.firstname} ${classmate.lastname}</a>&nbsp;
        #{/list}
    </li>
    #{/if}
</ul>
